<template>
    <el-container>
        <el-header> 数组中第 K 大的元素 </el-header>
        <el-main>
            <el-form :rules="rules" ref="form" :model="form" label-width="80px">
                <el-form-item label="数组" prop="iptArray">
                    <el-input
                        v-model.trim="form.iptArray"
                        :placeholder="example"
                        @change="checkArray($event)"
                    ></el-input>
                </el-form-item>
                <el-form-item label="k" prop="k">
                    <el-input v-model="form.k" min="1" max="5"></el-input>
                </el-form-item>
                <el-button @click="submit('form')">提交</el-button>
            </el-form>
            <el-row class="result">
                第 {{ form.k }} 大的元素是：
                <span style="color: red">{{ result }}</span></el-row
            >
        </el-main>
    </el-container>
</template>

<script>
export default {
    data() {
        const validateArray = (rule, value, callback) => {
            const regex = /^(\d+(\.\d+)?,?)+$/;

            if (!regex.test(value)) {
                callback(new Error('请按格式输入,' + this.example));
            } else {
                callback();
            }
        };
        const validateK = (rule, value, callback) => {
            const regex = /^\d+$/;
            let len = [...new Set(this.array)].length;

            if (!regex.test(value)) {
                callback(new Error(`请输入数字`));
            } else if (!(value > 0 && value <= len)) {
                callback(new Error(`k的范围为1-${len}`));
            } else {
                callback();
            }
        };
        return {
            result: '',
            form: {
                iptArray: '5,6,2,3,1,8,9,0,4,9',
                k: 2,
            },
            rules: {
                iptArray: [
                    {
                        required: true,
                        message: '请输入',
                        trigger: 'blur',
                    },
                    { validator: validateArray, trigger: 'blur' },
                ],
                k: [
                    { required: true, message: '请输入', trigger: 'blur' },
                    { validator: validateK, trigger: 'blur' },
                ],
            },
            example: '例如：5,1,3,4,6',
        };
    },
    computed: {
        array() {
            let arr = this.form.iptArray;
            arr =
                arr.substring(arr.length - 1) == ','
                    ? arr.substring(0, arr.length - 1)
                    : arr;
            console.log('haha', arr);
            return arr.split(',').map((value) => parseFloat(value));
        },
    },
    methods: {
        checkArray(val) {
            this.form.iptArray =
                val.substring(val.length - 1) == ','
                    ? val.substring(0, val.length - 1)
                    : val;
        },
        submit(formName) {
            this.$refs[formName].validate((valid) => {
                if (!valid) {
                    console.log('error submit!!');
                    return false;
                }

                const { form } = this;
                let array = [...new Set(this.array)];

                this.quickSort(array, 0, array.length - 1, form.k);
                this.result = array[array.length - form.k];
            });
        },
        quickSort(arr, left, right, kthLargest) {
            let partitionIndex = null;
            left = typeof left !== 'number' ? 0 : left;
            right = typeof right !== 'number' ? arr.length - 1 : right;

            if (left < right) {
                partitionIndex = this.partition(arr, left, right);

                if (partitionIndex < arr.length - kthLargest) {
                    this.quickSort(arr, partitionIndex + 1, right, kthLargest);
                } else {
                    this.quickSort(arr, left, partitionIndex - 1, kthLargest);
                }
            }
        },
        partition(arr, left, right) {
            const privot = left;
            let index = privot + 1;

            for (let i = index; i <= right; i++) {
                if (arr[i] < arr[privot]) {
                    [arr[i], arr[index]] = [arr[index], arr[i]];
                    index++;
                }
            }

            [arr[privot], arr[index - 1]] = [arr[index - 1], arr[privot]];
            return index - 1;
        },
    },
};
</script>

<style scoped>
.result {
    margin: 60px 0;
    padding: 10px;
    height: 200px;
    width: 100%;
    border: 1px solid #ddd;
    background: #fafafa;
    text-align: left;
}
</style>
