<template>
    <div></div>
</template>

<script>
import engine from '@/components/RenderTemplate/engine.js';

export default {
    data() {
        return {
            tmpl: `<div class="newslist">
    <div class="img" v-if="info.showImage"><img src="{{image}}"/></div>
    <div class="date" v-if="info.showDate">{{info.name}}</div>
    <div class="img">{{info.name}}</div>
</div>`,
            tmplData: {
                image: 'https://via.placeholder.com/150',
                info: { showImage: true, showDate: false, name: 'aaa' },
            },
        };
    },

    mounted() {
        let dom = new engine().render(this.tmpl, this.tmplData);

        this.$el.appendChild(dom);
    },
};
</script>

<style></style>
