<template>
    <el-container>
        <el-header>
            题目：进制转换，将 10 进制浮点数转换成 64 进制。
        </el-header>
        <el-main>
            <el-form ref="form" :model="form" :rules="rules" label-width="80px">
                <el-form-item label="10进制数" prop="number">
                    <el-input v-model.trim="form.number"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button
                        :icon="
                            isPointingDown ? 'el-icon-bottom' : 'el-icon-top'
                        "
                        @click="isPointingDown = !isPointingDown"
                    ></el-button>
                    <el-button type="primary" @click="convert('form')"
                        >转换</el-button
                    >
                </el-form-item>
                <el-form-item>
                    <el-radio-group v-model="base">
                        <el-radio :label="2">2进制</el-radio>
                        <el-radio :label="4">4进制</el-radio>
                        <el-radio :label="8">8进制</el-radio>
                        <el-radio :label="16">16进制</el-radio>
                        <el-radio :label="64">64进制</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item :label="base + '进制数'" prop="otherBaseNumber">
                    <el-input v-model.trim="form.otherBaseNumber"></el-input>
                </el-form-item>
            </el-form>
        </el-main>
    </el-container>
</template>

<script>
export default {
    name: 'Conversion0708',
    data() {
        const characters =
            '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ,);[]`<>?:"{}|~!@#$%^&*_+-=(';
        const validateNumber = (rule, value, callback) => {
            const regex = /^\d+(\.\d+)?$/; //-?
            if (value && !regex.test(value)) {
                callback(new Error('请输入正数'));
            } else {
                callback();
            }
        };

        return {
            arrBaseCharacters: characters.split(''),
            isPointingDown: true,
            form: {
                number: '',
                otherBaseNumber: '',
            },
            rules: {
                number: [
                    {
                        required: true,
                        message: '请输入',
                        trigger: 'blur',
                    },
                    {
                        validator: validateNumber,
                        // trigger: 'blur',
                    },
                ],
                otherBaseNumber: [
                    {
                        required: true,
                        message: '请输入',
                    },
                ],
            },
            base: 64,
        };
    },
    created() {
        this.rules.number[0].required = this.isPointingDown;
        this.rules.otherBaseNumber[0].required = !this.isPointingDown;
    },
    watch: {
        isPointingDown(val) {
            this.$refs['form'].clearValidate(['number', 'otherBaseNumber']);

            this.rules.number[0].required = val;
            this.rules.otherBaseNumber[0].required = !val;
        },
    },
    methods: {
        convert(formName) {
            this.$refs[formName].validate((valid) => {
                if (!valid) {
                    console.log('error submit!!');
                    return false;
                }
                const { isPointingDown, base, arrBaseCharacters, form } = this;

                // 十进制转其他进制
                if (isPointingDown) {
                    let integerPart = this.convertIntegerPart(
                        form.number,
                        base,
                        arrBaseCharacters
                    );
                    let decimalPart = this.convertDecimalPart(
                        form.number,
                        base,
                        arrBaseCharacters
                    );

                    this.form.otherBaseNumber = `${integerPart.toString()}${
                        decimalPart != '' ? '.' : ''
                    }${decimalPart.toString()}`;
                } else {
                    // 其他进制转十进制
                    this.form.number = this.convertToDecimal(
                        form.otherBaseNumber,
                        base
                    );
                }
            });
        },

        // 10进制转其他进制 整数部分
        convertIntegerPart(num, base, arrBaseCharacters) {
            let dividend = num.toString().split('.')[0];
            let restArr = [];
            let rest = 0;

            while (dividend >= base) {
                rest = dividend % base; // 余数
                restArr.push(arrBaseCharacters[rest]);
                // dividend = (dividend - rest) / base;
                dividend = parseInt(dividend / base);
            }

            restArr.push(arrBaseCharacters[dividend]);

            console.log(restArr);
            return restArr.reverse().join('');
        },

        // 10进制转其他进制 小数部分
        convertDecimalPart(num, base, arrBaseCharacters) {
            let temp = num.toString().includes('.')
                ? parseFloat('0.' + num.toString().split('.')[1])
                : 0;

            let count = 10;
            let result = [];

            // 有小数
            while (temp.toString().includes('.') && count > 0) {
                temp = temp * base;

                // let decimalArr = temp.toString().split('.');

                // result.push(arrBaseCharacters[decimalArr[0]]);

                // temp =
                //     decimalArr.length == 2
                //         ? parseFloat('0.' + decimalArr[1])
                //         : 0;

                let i = Math.floor(temp); //整数部分
                result.push(arrBaseCharacters[i]);
                temp = temp - i; // 小数部分

                count--;
            }

            return result.join('');
        },

        // 转10进制
        convertToDecimal(num, base) {
            // let integerPart = num.toString().split('.')[0];
            // let decimalPart = num.toString().includes('.')
            //     ? num.toString().split('.')[1]
            //     : '';

            let [integerPart, decimalPart] = num.toString().split('.');

            !decimalPart && (decimalPart = ''); // decimalPart 为undefined时改为''

            let resultDecimalPart = 0;

            // 整数部分
            let arrIntegerPart = integerPart.split('').reverse();
            const arrIntegerPartIndex = arrIntegerPart.map((item) => {
                return this.arrBaseCharacters.indexOf(item);
            });

            let resultIntegerPart = arrIntegerPartIndex.reduce(
                (total, item, index) => {
                    return total + item * base ** index;
                }
            );

            console.log('convertToDecimal整数', resultIntegerPart);

            // 小数部分
            if (decimalPart != '') {
                let arrDecimalPart = decimalPart.split('');
                const arrDecimalPartIndex = arrDecimalPart.map((item) => {
                    return this.arrBaseCharacters.indexOf(item);
                });

                arrDecimalPartIndex.forEach((item, index) => {
                    resultDecimalPart += item * base ** -(index + 1);
                });
            }
            console.log('convertToDecimal小数', resultDecimalPart);

            return resultIntegerPart + resultDecimalPart;
        },
    },
};
</script>

<style></style>
