<template>
    <el-container>
        <el-header>
            题目：读取本地代码文件，使用 monaco-editor 编辑保存代码
        </el-header>

        <el-main>
            <el-row style="height: 60px">
                <input type="file" @change="getFile($event.target.files)" />
                <el-button @click="save">保存</el-button>
            </el-row>

            <div ref="main" class="monaco-editor monaco"></div>
        </el-main>
    </el-container>
</template>

<script>
import * as monaco from 'monaco-editor';
import { saveAs } from 'file-saver';

export default {
    name: 'MonacoEditor0710',
    data() {
        return {
            file: null,
        };
    },
    methods: {
        init(language) {
            this.monacoEditor = monaco.editor.create(this.$refs.main, {
                language: language || 'javascript',
                minimap: {
                    // 不要小地图
                    enabled: false,
                },
            });
        },
        readFile(file) {
            return new Promise((resolve) => {
                let reader = new FileReader();
                reader.readAsText(file);
                reader.onload = function () {
                    // console.log(evt.target.result);
                    resolve(reader.result);
                };

                reader.onerror = (error) => {
                    console.log(error);
                };
            });
        },

        getFile(files) {
            this.file = files[0];
            this.readFile(files[0]).then((res) => {
                console.log(this.monacoEditor);
                this.$refs.main.innerHTML = '';
                let language = this.file.type.split('/')[1]; // TODO
                console.log(language);

                this.init(language);
                this.monacoEditor.setValue(res);
            });
        },
        save() {
            if (!this.file) {
                this.$message({
                    message: '请选择文件',
                    type: 'warning',
                });
                return false;
            }

            let value = this.monacoEditor.getValue();
            var blob = new Blob([value], {
                type: this.file.type + ';charset=utf-8',
            });
            saveAs(blob, this.file.name);
        },
    },
};
</script>

<style scoped>
.monaco {
    border: 1px solid #ddd;
    width: 100%;
    height: 400px;
    text-align: left;
}
</style>
